name: Test

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up the environment
        uses: ./.github/actions/setup-uv-env
      - name: Run ruff check
        run: uv run ruff check .
      - name: Run ruff format check
        run: uv run ruff format . --check

  test:
    runs-on: ubuntu-latest
    services:
      db:
        image: postgres:17.2
        env:
          POSTGRES_DB: ajna
          POSTGRES_USER: ajna
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up the environment
        uses: ./.github/actions/setup-uv-env
      - name: Run pytest
        run: uv run pytest --ds=config.settings.test tests/
        env:
          AJNA_DB_NAME: ajna
          AJNA_DB_USER: ajna
          AJNA_DB_HOST: localhost
          AJNA_DB_PASSWORD: postgres
